/* Add Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Existing styles */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}